@model ContosoUniversity.Models.Department

@{
    ViewData["Title"] = "Delete";
}

<h2>Удалить</h2>

<p class="text-danger">@ViewData["ConcurrencyErrorMessage"]</p>

<h3>Вы точно хотите удалить этот элемент?</h3>
<div>
    <h4>Кафедра</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Бюджет
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt class="col-sm-2">
            Дата начала
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            Руководитель
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrator.FullName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="DepartmentID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" />
        </div>
    </form>
    <br />
    <a asp-action="Index">Назад</a>
</div>
