@model IEnumerable<ContosoUniversity.Models.Department>

@{
    ViewData["Title"] = "Кафедры";
}

<h2>Кафедры</h2>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Кафедра
            </th>
            <th>
               Бюджет
            </th>
            <th>
              Дата начала
            </th>
            <th>
               Руководитель
            </th>
            <th>
               Университет
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrator.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.University.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartmentID">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartmentID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
