@model ContosoUniversity.Models.ViewModels.UniversityData

@{
    ViewData["Title"] = "Университеты";
}

<h1>Университеты</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
               Название
            </th>
            <th>
                Адресс
            </th>
            <th>
                Кафедры
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Universities)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @{ foreach (var i in item.Departments)
                   {
                      @i.Name <br />
                   } 
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UniversityID">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.UniversityID">Удалить</a>
            </td>
        </tr>
        }
    </tbody>
</table>