@model ContosoUniversity.Models.SchoolViewModels.InstructorIndexData

@{
    ViewData["Title"] = "Instructors";
}

<h2>Преподаватель</h2>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Дата найма</th>
            <th>Аудитория</th>
            <th>Предмет</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Instructors)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["InstructorID"])
            {
                selectedRow = "success";
            }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @if (item.OfficeAssignment != null)
                {
                    @item.OfficeAssignment.Location
                }
            </td>
            <td>
                @{
                    foreach (var course in item.CourseAssignments)
                    {
                        @course.Course.CourseID @:  @course.Course.Title <br />
                    }
                }
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.ID">Подробно</a> |
                <a asp-action="Edit" asp-route-id="@item.ID">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@if (Model.Courses != null)
{
    <h3>Предметы, преподаваемые выбранным преподавателем</h3>
    <table class="table">
        <tr>
            <th>Номер</th>
            <th>Название</th>
            <th>Кафедра</th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
            </tr>
        }

    </table>
}
